<html>
	<head>
		<title> HRMS => Zayar Naing </title>
		{% load static %}
		<!-- Local -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">

		<!-- CDN -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

		<link href="{% static 'assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/bootstrap.min.css' % }" rel="stylesheet" />
		<link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />

	</head>
	<body>
		{% include 'header.html' %}
		{% block head_block %} {% endblock %}
		{% include 'sidebar.html' %}
		{% block body_block %} {% endblock %}
		{% include 'footer.html' %}
	</body>
</html>