<div class="sidebar" data-color="orange">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                
            </a>
        </div>

        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/accounts/profile/">
                        <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                    </a>
                </li>
                <li>
                        <a href="/hr_employees/show_employee">
                            <i class="now-ui-icons education_atom"></i>
                                <p>Employee</p>
                        </a>
                </li>
                <li>
                    <a href="/hr_contracts/show_contract">
                        <i class="now-ui-icons education_atom"></i>
                            <p>Contract</p>
                    </a>
                </li>
                <li>
                    <a href="/hr_jobs/show_job">
                        <i class="now-ui-icons education_atom"></i>
                            <p>Job</p>
                    </a>
                </li>
                <li>
                    <a href="/hr_departments/show_department">
                        <i class="now-ui-icons education_atom"></i>
                            <p>Department</p>
                    </a>
                </li>
                <li>
                    <a href="/hr_recruitments/show_resume">
                        <i class="now-ui-icons education_atom"></i>
                            <p>Resume</p>
                    </a>
                </li>
                <li>
                    <a href="/expense/show_expense">
                        <i class="now-ui-icons education_atom"></i>
                            <p>Expense</p>
                    </a>
                </li>
                <li>
                    <a href="/payroll/show_payroll">
                        <i class="now-ui-icons education_atom"></i>
                            <p>Payroll</p>
                    </a>
                </li>
        </ul>
    </div>
</div>

